@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-brand-primary: #F8F0E5;
  --color-brand-secondary: #6F7E57;
  --color-brand-alt-1: #575B44;
  --color-brand-alt-2: #FAF5EF;
  --color-brand-cream: #f7ebc3;
  --color-brand-gold: #693311;
}

@layer base {
  body {
    @apply antialiased text-zinc-900 bg-[#f7ebc3];
    font-family: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  }
}

.font-serif {
  font-family: "Playfair Display", ui-serif, Georgia, serif;
}

.tracking-tighter {
  letter-spacing: -0.05em;
}

.tracking-tight {
  letter-spacing: -0.025em;
}